
body
{
 
    background-color: olive;
}


.form-row

{

background-color: palegoldenrod;

}

/* Contact html formatting */


#inputEmail4

{

    background-color: pink;

}

#inputName4

{

    background-color: pink;

}

#exampleFormControlTextarea1

{

    background-color: pink;

}

/* Index html formatting */

.card

{

    
text-align: center;
color: purple;

}


/* Portfolio page formatting */


header

{

text-align: center;
font-size: 100px;
 color: aqua;   
 
}
/* Footer formatting */

p

{
   
    text-align: center;
color: purple;


}